In [ ]:
""" 
8. Given the month and year as numbers, return whether that month contains a Friday 13th.(i.e You 
can check Python's datetime module) 
 
Examples 
 
has_friday_13(3, 2020) ➞ True 
has_friday_13(10, 2017) ➞ True 
has_friday_13(1, 1985) ➞ False   
""" 
def has_friday_13(m,y):
    date=datetime.date(y,m,13)
    return date.weekday()==4

In [ ]:
"""  
9. Write a regular expression that will help us count how many bad cookies are produced every day. 
You must use RegEx negative lookbehind. 
 
Example 
 
lst = ["bad cookie", "good cookie", "bad cookie", "good cookie", "good cookie"] 
pattern = "yourregularexpressionhere" 
len(re.findall(pattern, ", ".join(lst))) ➞ 2 
"""

In [5]:
"""    
10. Given a list of words in the singular form, return a set of those words in the plural form if they 
appear more than once in the list. 
 
Examples 
 
pluralize(["cow", "pig", "cow", "cow"]) ➞ { "cows", "pig" } 
pluralize(["table", "table", "table"]) ➞ { "tables" } 
pluralize(["chair", "pencil", "arm"]) ➞ { "chair", "pencil", "arm" } 
"""       
def pluralize(l):
    l1=[]
    D=dict()
    s = set(l)
    l1 = list(s)
    l2=[]
    for i in l:
        D[i]=l1.count(i)
    for i in D.values():
        if i>=2:
            l2.append(D.keys())

In [14]:
pluralize(["cow", "pig", "cow", "cow"])

['cows', 'pig']

In [15]:
def pluralize(l):
    l1=[]
    l2=[]
    for i in l:
        if l.count(i)>=2:
            l1.append(i+"s") 
        else:
            l2.append(i)
    l1=set(l1)
    l1=list(l1)
    l1.extend(l2)
    l1=set(l1)
    print(l1)

In [16]:
pluralize(["cow", "pig", "cow", "cow"])

{'cows', 'pig'}

In [ ]:
""" 
11. Create a function to perform basic arithmetic operations that includes addition, subtraction, 
multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21"). 
 
Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, 
we are going to have only two numbers between 1 valid operator. The return value should be a 
number. 
 
eval() is not allowed. In case of division, whenever the second number equals "0" return -1. 
 
For example: 
 
"15 // 0"  ➞ -1 
 
Examples 
 
arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24 
arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0 
arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144 
arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1  
""" 
def arithmetic_operation(s):
    for i in s:
        int()

In [20]:
s = "12 + 12"
print(int(s[0]))

1
2

ValueError: invalid literal for int() with base 10: ' '

In [21]:
s = "12 + 12"
for i in range(0,len(s)):
    print(int(s[i]))

1
2

ValueError: invalid literal for int() with base 10: ' '

In [65]:
def arithmetic_operation(s):
    l = s.split(" ")
    l1 = []
    l1.append(int(l[0]))
    l1.append(int(l[2]))
    if l[1]=="+":
        print(int(l[0])+int(l[2]))
    if l[1]=="-":
        print(int(l[0])-int(l[2]))
    if l[1]=="*":
        print(int(l[0])*int(l[2]))
    if l[1]=="//":
        if int(l[2]) == 0:
            print(-1)
        else:
            print(int(l[0])//int(l[2]))

In [66]:
arithmetic_operation("12 // 0")

-1

In [67]:
arithmetic_operation("12 + 12")

24

In [68]:
arithmetic_operation("12 - 12")

0

In [69]:
arithmetic_operation("12 * 12")

144

In [70]:
arithmetic_operation("12 // 0")

-1

In [ ]:
"""    
12. Write a function that takes the coordinates of three points in the form of a 2d array and returns 
the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional 
plane. 
 
Examples 
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08 
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42 
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28 
"""    
def perimeter(l): 
    l1=l[0]
    l2=l[1]
    l3=l[2]
    s1=(((l1[0]-l2[0])**2)+((l1[1]-l2[1])**2))**(0.5)
    s2=(((l2[0]-l3[0])**2)+((l2[1]-l3[1])**2))**(0.5)
    s3=(((l3[0]-l1[0])**2)+((l3[1]-l1[1])**2))**(0.5)
    print(round((s1+s2+s3),2))

In [1]:
l = [ [15, 7],    #0,0    0,1
      [5, 22],    #1,0    1,1
      [11, 1]     #2,0    2,2
      ]
       
print(len(l))
print(l[0])

3

In [5]:
"""   
13. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example 
below, the height of the tallest building is 4 (second-most right column). 
 
[[0, 0, 0, 0, 0, 0], 
[0, 0, 0, 0, 1, 0], 
[0, 0, 1, 0, 1, 0], 
[0, 1, 1, 1, 1, 0], 
[1, 1, 1, 1, 1, 1]] 
 
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest 
skyscraper. 
 
Examples 
 
tallest_skyscraper([ 
  [0, 0, 0, 0], 
  [0, 1, 0, 0], 
  [0, 1, 1, 0], 
  [1, 1, 1, 1] 
]) ➞ 3 
 
tallest_skyscraper([ 
  [0, 1, 0, 0], 
  [0, 1, 0, 0], 
  [0, 1, 1, 0], 
  [1, 1, 1, 1] 
]) ➞ 4 
 
tallest_skyscraper([ 
  [0, 0, 0, 0], 
  [0, 0, 0, 0], 
  [1, 1, 1, 0], 
  [1, 1, 1, 1] 
]) ➞ 2   
"""   
def tallest_skyscraper(l):
    l1=[]
    for i in range(len(l)):
        if 1 in l[i]:
            l1.append(1)
    print(len(l1))

In [6]:
tallest_skyscraper([ 
  [0, 0, 0, 0], 
  [0, 0, 0, 0], 
  [1, 1, 1, 0], 
  [1, 1, 1, 1] 
])

2

In [42]:
"""     
14. A financial institution provides professional services to banks and claims charges from the 
customers based on the number of man-days provided. Internally, it has set a scheme to motivate 
and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for 
each day claimed from customers in excess of a threshold target. 
 
This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive 
payment for each billable day in excess of such threshold target is shown as follows: 
 
Days                              Bonus 
0 to 32 days                    Zero 
33 to 40 days          SGD$325 per billable day 
41 to 48 days          SGD$550 per billable day 
Greater than 48 days      SGD$600 per billable day 
 
Please note that incentive payment is calculated progressively. As an example, if an employee 
reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows: 
 
32*0 + 8*325 + 5*550 = 5350 
 
Write a function to read the billable days of an employee and return the bonus he/she has obtained 
in that quarter. 
 
Examples 
bonus(15) ➞ 0 
bonus(37) ➞ 1625 
bonus(50) ➞ 8200
"""     
def bonus(n):
    m = 0
    if(n>=0 and n<=32):
        m = n*0
    elif(n>=33 and n<=40):
        m = (0*32)+(n-32)*325
    elif(n>=41 and n<=48):
        m = (0*32)+(8*325)+(n-40)*550
    elif(n>48):
        m = (0*32)+(8*325)+(8*550)+(n-48)*600
    print(m)

In [44]:
bonus(15)

0

In [45]:
bonus(37)

1625

In [46]:
bonus(90)

32200

In [47]:
bonus(50)

8200

In [57]:
"""    
15. A number is said to be Disarium if the sum of its digits raised to their respective positions is the 
number itself. 
 
Create a function that determines whether a number is a Disarium or not. 
 
Examples 
 
is_disarium(75) ➞ False 
# 7^1 + 5^2 = 7 + 25 = 32 
 
is_disarium(135) ➞ True 
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135 
 
is_disarium(544) ➞ False 
 
is_disarium(518) ➞ True 
is_disarium(466) ➞ False 
is_disarium(8) ➞ True
"""     
def is_disarium(n):
    c = len(str(n))
    m = 0
    t = n
    while n!=0:
        d = n%10
        m = m + d**c
        c -= c
        n = n//10
    print(m)

In [ ]:
def Disarian_num(n):
    c=3
    sum = 0
    t=n
    # print(t)
    while n!=0 :
        d = n%10
        # print("digit",d)
        # print("power",c)
        sum = sum + d**c
        c -= 1
        n = n//10
    print(sum)
    if int(sum) == t:
        print("The number is a Disarian Number")
    else:
        print("not")
a = int(input("Enter a number :"))
Disarian_num(a)

In [58]:
is_disarium(135)

127

In [64]:
def is_disarium(n):
    c=len(str(n))
    sum = 0
    t=n
    while n!=0 :
        d = n%10
        sum = sum + d**c
        c -= 1
        n = n//10
    if t==sum:
        print(True)
    else:
        print(False)

In [65]:
is_disarium(135)

135
True

In [66]:
is_disarium(518)

518
True