In [ ]:
"""      
Question 55. 
Create a function that takes a list of strings and return a list, sorted from shortest to longest. 
Examples 
sort_by_length(["Google", "Apple", "Microsoft"]) 
➞ ["Apple", "Google", "Microsoft"] 
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]) 
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"] 
sort_by_length(["Turing", "Einstein", "Jung"]) 
➞ ["Jung", "Turing", "Einstein"] 

Notes:
All test cases contain lists with strings of different lengths, so you won't have to deal with 
multiple strings of the same length. 
 
Question 56. 
Create a function that validates whether three given integers form a Pythagorean triplet. The 
sum of the squares of the two smallest integers must equal the square of the largest number to 
be validated. 
Examples 
is_triplet(3, 4, 5) ➞ True 
3² + 4² = 25 
5² = 25 
is_triplet(13, 5, 12) ➞ True 
5² + 12² = 169 
13² = 169 
is_triplet(1, 2, 3) ➞ False 
1² + 2² = 5 
3² = 9 
Notes 
Numbers may not be given in a sorted order.     
 
Question 57. 
Create a function that takes three integer arguments (a, b, c) and returns the amount of 
integers which are of equal value. 
Examples 
equal(3, 4, 3) ➞ 2 
equal(1, 1, 1) ➞ 3 
equal(3, 4, 1) ➞ 0 
Notes 
Your function must return 0, 2 or 3. 
 
Question 58. 
Write a function that converts a dictionary into a list of keys-values tuples. 
Examples 
dict_to_list({ 
"D": 1, 
"B": 2, 
"C": 3 
}) ➞ [("B", 2), ("C", 3), ("D", 1)] 
dict_to_list({ 
"likes": 2, 
"dislikes": 3, 
"followers": 10 
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)] 
Notes 
Return the elements in the list in alphabetical order. 
 
Question 59. 
Write a function that creates a dictionary with each (key, value) pair being the (lower case, 
upper case) versions of a letter, respectively. 
Examples 
mapping(["p", "s"]) ➞ { "p": "P", "s": "S" } 
mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" } 
mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" } 
Notes 
All of the letters in the input list will always be lowercase. 
 
Question 60. 
Write a function, that replaces all vowels in a string with a specified vowel. 
Examples 
vow_replace("apples and bananas", "u") ➞ "upplus und bununus" 
vow_replace("cheese casserole", "o") ➞ "chooso cossorolo" 
vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers" 
Notes 
All words will be lowercase. Y is not considered a vowel. 
 
Question 61. 
Create a function that takes a string as input and capitalizes a letter if its ASCII code is even 
and returns its lower case version if its ASCII code is odd. 
Examples 
ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!" 
ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD" 
ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL moRNiNg."   
"""

In [7]:
"""        
Question 55. 
Create a function that takes a list of strings and return a list, sorted from shortest to longest. 
Examples 
sort_by_length(["Google", "Apple", "Microsoft"]) 
➞ ["Apple", "Google", "Microsoft"] 
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]) 
➞ ["Raphael", "Leonardo", "Donatello", "Michelangelo"] 
sort_by_length(["Turing", "Einstein", "Jung"]) 
➞ ["Jung", "Turing", "Einstein"] 

Notes:
All test cases contain lists with strings of different lengths, so you won't have to deal with 
multiple strings of the same length.
"""
def sort_by_length(s):
    l1 = []
    for i in s:
        l1.append(len(i))
    l1.sort()
    l2 = []
    for j in l1:
        for i in s:
            if(len(i)==j):
                l2.append(i)
    print(l2)


s = eval(input("Enter the list of Strings :"))      
sort_by_length(s)

['Apple', 'Google', 'Microsoft']

In [2]:
s = ["Google", "Apple", "Microsoft"]
len(s[0])

6

In [11]:
"""     
Create a function that validates whether three given integers form a Pythagorean triplet. The 
sum of the squares of the two smallest integers must equal the square of the largest number to 
be validated. 
Examples 
is_triplet(3, 4, 5) ➞ True 
3² + 4² = 25 
5² = 25 
is_triplet(13, 5, 12) ➞ True 
5² + 12² = 169 
13² = 169 
is_triplet(1, 2, 3) ➞ False 
1² + 2² = 5 
3² = 9 
Notes 
Numbers may not be given in a sorted order.  
"""     

def is_triplet(a,b,c):
    l=[a,b,c]
    l.sort()
    if l[0]*l[0] + l[1]*l[1] == l[2]*l[2]:
        return True
    else:
        return False

In [16]:
is_triplet(12,5,13)

True

In [9]:
l = [13,2,12]
l.sort()
l

[2, 12, 13]

In [63]:
"""     
Question 57. 
Create a function that takes three integer arguments (a, b, c) and returns the amount of 
integers which are of equal value. 
Examples 
equal(3, 4, 3) ➞ 2 
equal(1, 1, 1) ➞ 3 
equal(3, 4, 1) ➞ 0 
Notes 
Your function must return 0, 2 or 3.   
"""     
def equal(a,b,c):
    l=[a,b,c]
    c=0
    for i in range(0,len(l)):
        for j in range(i+1,len(l)):
            if l[i]==l[j]:
                c += 1
    print(c)

In [88]:
equal(3, 4, 3)

2

In [89]:
equal(1, 1, 1)

3

In [90]:
equal(3, 4, 1)

0

In [87]:
# working code:
def equal(a,b,c):
    l=[a,b,c]
    for i in l:
        c=l.count(i)
    if c==2 or c==3:
        print(c)    
    if c==1:
        c=0
        print(c)

In [97]:
"""      
Question 58. 
Write a function that converts a dictionary into a list of keys-values tuples. 
Examples 
dict_to_list({ 
"D": 1, 
"B": 2, 
"C": 3 
}) ➞ [("B", 2), ("C", 3), ("D", 1)] 
dict_to_list({ 
"likes": 2, 
"dislikes": 3, 
"followers": 10 
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)] 
Notes 
Return the elements in the list in alphabetical order. 
"""      
def dict_to_list(d):
    l = d.items()
    print(l)

In [98]:
dict_to_list({ 
"D": 1, 
"B": 2, 
"C": 3 
})

dict_items([('D', 1), ('B', 2), ('C', 3)])

In [ ]:
# working code:
def myfun(d):
    x=list(zip(d.keys(),d.values()))
    x.sort()
    print(x)

In [106]:
"""       
Question 59. 
Write a function that creates a dictionary with each (key, value) pair being the (lower case, 
upper case) versions of a letter, respectively. 
Examples 
mapping(["p", "s"]) ➞ { "p": "P", "s": "S" } 
mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" } 
mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" } 
Notes 
All of the letters in the input list will always be lowercase. 
"""         
def mapping(l):
    d = {}
    for i in range(0,len(l)):
        d[l[i]]=l[i].upper()
    print(d)

In [107]:
mapping(["p", "s"])

{'p': 'P', 's': 'S'}

In [108]:
mapping(["a", "b", "c"])

{'a': 'A', 'b': 'B', 'c': 'C'}

In [109]:
mapping(["a", "v", "y", "z"])

{'a': 'A', 'v': 'V', 'y': 'Y', 'z': 'Z'}

In [ ]:
""" 
Question 60. 
Write a function, that replaces all vowels in a string with a specified vowel. 
Examples 
vow_replace("apples and bananas", "u") ➞ "upplus und bununus" 
vow_replace("cheese casserole", "o") ➞ "chooso cossorolo" 
vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers" 
Notes 
All words will be lowercase. Y is not considered a vowel.
"""

In [111]:
def vow_replace(s,k):
    n = len(s)
    l = ["a","e","i","o","u","A","E","I","O","U"]
    for i in range(0,n):
        if s[i] in l:
            new_s = s.replace(s[i],k)
    print(new_s)   

s = input("Enter the String :")
k = input("replace vowel with :")
vow_replace(s,k)

upples und bununus

In [ ]:

""" 
Question 61. 
Create a function that takes a string as input and capitalizes a letter if its ASCII code is even 
and returns its lower case version if its ASCII code is odd. 
Examples 
ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!" 
ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD" 
ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL moRNiNg."   
"""

In [175]:
def ascii_capitalize(s):
    l=list(s)
    s_new=''
    for i in range(0,len(l)):
        if ord(l[i])%2==0:
            # l.remove(l[i])
            l.insert(i,l[i].upper())
            # l.remove(l[i-1])
    # print(str(l))
    print("".join(l))

In [176]:
ascii_capitalize("to be or not to be!")

TTTTTTTTTTTTTTTTTTTto be or not to be!

In [177]:
chr(97)

'a'

In [118]:
ord("a")

97

In [149]:
ord("t")

116

In [150]:
116%2

0

In [133]:
s = "to be or not to be!" 
l = list(s)
print(l)

['t', 'o', ' ', 'b', 'e', ' ', 'o', 'r', ' ', 'n', 'o', 't', ' ', 't', 'o', ' ', 'b', 'e', '!']

In [197]:
def ascii_capitalize(s):
    l=list(s)
    s_new=""
    for i in range(0,len(l)):
        if ord(l[i])%2==0 and ord(l[i])!=32:
            l.insert(i,l[i].upper())
            l.remove(l[i+1])
        if ord(l[i])%2!=0 and ord(l[i])!=32:
            l.insert(i,l[i].lower())
            l.remove(l[i+1])
    print("".join(l))

In [198]:
ascii_capitalize("to be or not to be!")
# "To Be oR NoT To Be!"

T B R NooT Too Bee!

In [199]:
ascii_capitalize("THE LITTLE MERMAID")
# "THe LiTTLe meRmaiD"

He iTTTLLe meRmaiD

In [190]:
ord(" ")

32

In [204]:
def ascii_capitalize(s):
    l=list(s)
    s_new=""
    for i in range(0,len(l)):
        if ord(l[i])%2 == 0 and l[i] != " ":
            s_new += l[i].upper()
        elif ord(l[i])%2 != 0 and l[i] != " ":
            s_new += l[i].lower()
        else:
            s_new += l[i]
    print(s_new)

In [205]:
ascii_capitalize("to be or not to be!")

To Be oR NoT To Be!

In [206]:
ascii_capitalize("THE LITTLE MERMAID")

THe LiTTLe meRmaiD

In [207]:
ascii_capitalize("Oh what a beautiful morning.")

oH wHaT a BeauTiFuL moRNiNg.